@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-secondary: #eab308;
  --color-text: #374151;
  --color-dark: #000300;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafaf9;
  color: #000300;
}